html, body {
      font-family: helvetica, arial, sans-serif;
      height: 100%;
      padding: 0;
      margin: 0;
      background: purple;
    }
    /*nav*/
nav{
    background: lightgrey;
    opacity: .95;
    float: left;
    margin:  2px 0 0 2px;
    padding: 10px 10px 10px 10px;
}

nav a:link{
    color: teal;
    font-family: 'Raleway', sans-serif; font-weight 300;
    font-size: 20px;
}

nav a:visited{
    color:gray;
    font-family: 'Raleway', sans-serif; font-weight 300;
    font-size: 20px;
    text-decoration: none;
}

nav a:hover, hover{
    color: purple;
    font-family: 'Raleway', sans-serif; font-weight 300;
    font-size: 20px;
    text-decoration: none;
}

nav ul{
    margin: 0;
    padding: 0;
    display: inline;
    width: 60px;
}

nav li{
    display: inline;
}

.clearfix {
  clear: both; 
  float: none;
}


/*media queries*/
@media (max-width: 1024px){
  /*nested rules for this size*/

  /*
  body{
    background: red;
  }
  */
} 

/*tablet*/
@media (max-width: 768px){
  /*nested rules for this size*/

  /*
  body{
    background: blue;
  }
  */


} 

/*mobile*/
@media (max-width: 480px){
  /*nested rules for this size*/

  /*
  body{
    background: green;
  }
  */
} 