<style type="text/css">

/* Layout for Style Tile
Feel free to change */
section {
	margin: 20px 0;
	color: white;
	font-family: 'Raleway', sans-serif; font-weight 400;
}

.container{
	width: 90%;
	margin: 80px auto 10px;
	background: black;
	border-radius: 15px;
}

body{
	color: white;
	font-family: 'Raleway', sans-serif; font-weight 300;
}

 h1{
	color: purple;
	font-family: 'Raleway', sans-serif; font-weight 700; 
}

.header {
	color: purple;
	text-align: right;
	background: gray;
	text-indent: 20px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	font-family: 'Raleway', sans-serif; font-weight 700; 
	border-top: 5px solid teal;
	border-bottom: 5px solid teal;
}

h3{
	color: teal;
	font-family: 'Raleway', sans-serif; font-weight 400;
}

h4{
	color: gray;
	font-family: 'Raleway', sans-serif; font-weight 400;
}

p{
	color: white;
	font-family: 'Raleway', sans-serif; font-weight 300;
}

/*nav*/

nav{
	background: lightgrey;
	opacity: .95;
	float: left;
	margin:  -79px 0 0 2px;
	padding: 10px 10px 10px 10px;
}

nav a:link{
	color: teal;
	text-decoration: none;
	font-family: 'Raleway', sans-serif; font-weight 300;
	font-size: 20px;
}

nav a:visited{
	color:gray;
	text-decoration: none;
	font-family: 'Raleway', sans-serif; font-weight 300;
	font-size: 20px;
	text-decoration: none;
}

nav a:hover, hover{
	color: purple;
	text-decoration: none;
	font-family: 'Raleway', sans-serif; font-weight 300;
	font-size: 20px;
	text-decoration: none;
}

nav ul{
    margin: 0;
    padding: 0;
    display: inline;
	width: 60px;
}

nav li{
	display: inline;
}

#lilith{
	float: right;
	width:450px;
	height:450px;
	margin: 10px;
	border-left: 5px double teal;
	border-right: 5px double teal;
	border-top: 5px double purple;
	border-bottom: 5px double purple;
}

img{
	float: right;
	height: 400px;
	width: 400px; 
}

.headers, .links{
	float: left;
}

.headers{
	width: 500px;
	margin: 20px;
}

.links{
	width: 500px;
	margin: 20px;
}

.links li{
	margin: 20px;
}

li{
	display: inline;
}


.pattern-1 img{
	height: 100px;
	width: 100px;
}


.color-1,
.color-2,
.color-3,
.color-4,
.pattern-1,
.pattern-2,
.pattern-3, 
.imagery-1,
.imagery-2,
.imagery-3 {
	border: 3px solid white;
	float: left;
	margin: 0 30px 30px;
	height: 100px;
	width: 100px;
}

/* Set Your Own Typography */

	@font-face{
		font-family: 'Raleway', sans-serif;
		src: url(https://www.google.com/fonts#UsePlace:use);
		font-family: 'Raleway', sans-serif; font-weight 400;
	}

/*boxes*/
	.color-1, imagery-1 div{
		background: purple;
	}

	.color-2, imagery-2 div{
		background: teal;
	}

	.color-3, imagery-3 div{
		background: gray;
	}

	.color-4, imagery-3 div{
		background: black;
	}

/* Set Your Own Margin & Padding */
	h3, h4, p {
		margin: 0;
	}

/* Clearfix - Oo Not Remove */
	.clearfix {clear: both; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0}

	/*media queries*/
@media (max-width: 1024px){
  /*nested rules for this size*/

  /*
  body{
    background: red;
  }
  */
} 

/*tablet*/
@media (max-width: 768px){
  /*nested rules for this size*/

  /*
  body{
    background: blue;
  }
  */

  article section {
		float: none;
		width: 100%;
		width: 100%;
	}
} 

/*mobile*/
@media (max-width: 480px){
  /*nested rules for this size*/

  /*
  body{
    background: green;
  }
  */
} 