<style type="text/css">

/*global*/
	@font-face{
		font-family: 'Raleway', sans-serif;
		src: url(https://www.google.com/fonts#UsePlace:use);
	}

	body{
		line-height: 22px;
	}

	p{
		color: white;
		font-family: 'Raleway', sans-serif; font-weight 300;
	}

/*bio*/
	.bio img{

		float: right;
		width:350px;
		height:450px;
		border-left: 5px double teal;
		border-right: 5px double teal;
		border-top: 5px double purple;
		border-bottom: 5px double purple;
	}

	.bio h1{
		color: purple;
		text-align: right;
		background: gray;
		font-family: 'Raleway', sans-serif; font-weight 700; 
		border-top: 5px solid teal;
		border-bottom: 5px solid teal;
	}

	.bio h3{
		color: teal;
		border-left: 3px solid purple;
		font-family: 'Raleway', sans-serif; font-weight 400;
	}

	.bio h4{
		color: gray;
		font-family: 'Raleway', sans-serif; font-weight 400;
	}

	.bio ul, ol{
		color: white;
		font-family: 'Raleway', sans-serif; font-weight 300;
	}

	.bio section{
		width: 500px;
		/*fix*/float: left;
	}

	.bio article{
		width: 1000px;
		margin: 0 auto;
	}
/*
	.bio ol{
		color: white;
		font-family: 'Raleway', sans-serif; font-weight 300:
	}
*/

/*home*/

/*style*/

</style>
