<style type="text/css">

/*global*/
	@font-face{
		font-family: 'Raleway', sans-serif;
		src: url(https://www.google.com/fonts#UsePlace:use);
	}

	body{
		line-height: 22px;
	}

	p{
		color: white;
		font-family: 'Raleway', sans-serif; font-weight 300;
	}

	img{
		float: right;
		width:350px;
		height:450px;
		border-left: 5px double teal;
		border-right: 5px double teal;
		border-top: 5px double purple;
		border-bottom: 5px double purple;
	}

/*nav*/
	nav{
		float: right;
		/*background: red;*/
	}
	nav a:link{
		color: teal;
		font-family: 'Raleway', sans-serif; font-weight 300;
		font-size: 20px;
	}

	nav a:visited{
		color: gray;
		font-family: 'Raleway', sans-serif; font-weight 300;
		font-size: 20px;
	}

	nav a:hover, hover{
		color: purple;
		font-family: 'Raleway', sans-serif; font-weight 300;
		font-size: 20px;
	}

	nav ul{
		list-style-type: none;
	    margin: 0;
	    padding: 0;
        display: inline;
    	width: 60px;
	}

	nav li{
		display: inline;
	}
/*
	nav a:focus{
		border: ;
		color: ;
	}
*/
/*bio*/
	.bio body{
		background-color: #000000;
	}
	.bio h1{
		color: purple;
		text-align: right;
		background: gray;
		font-family: 'Raleway', sans-serif; font-weight 700; 
		border-top: 5px solid teal;
		border-bottom: 5px solid teal;
	}

	.bio h3{
		color: teal;
		border-left: 3px solid purple;
		font-family: 'Raleway', sans-serif; font-weight 400;
	}

	.bio h4{
		color: gray;
		font-family: 'Raleway', sans-serif; font-weight 400;
	}

	.bio ul, ol{
		color: white;
		font-family: 'Raleway', sans-serif; font-weight 300;
		background-color: black;
	}

	.bio section{
		width: 500px;
		float: left;
		margin: auto 10px auto;
		background-color: #000000;
		padding: 20px;
	}

	.bio article{
		width: 1500px;
		margin: 0 auto;
		background: #000000;
	}

	.bio div{
		/*background: #000000;*/
		width: 1500px;
		height: 1700px;
	}

/*index*/

	.index article{
		background: teal;
		margin: 0 auto;
		width: 1000px;
	}
	.col1, .col2{
		float: left;
	}

	.col1{
		width:300px;
		margin: 20px;
	}

	.col2{
		width:300px;
		margin: 20px;
	}

	footer{
		float:left;
	}

	.index p{
		color: black;
		
	}

/*style*/

</style>
