<style type="text/css">

/* Layout for Style Tile
Feel free to change */
section {
	margin: 20px 0;
}

article{
	width: 1500px;
	height: 900px;
	margin: 30px auto 10px auto;
	background: #000000;
	border-radius: 15px;
}

body{
	background-image: url("img/evangelion-colorful-robots-images-free_3758453.jpeg");
}

img{
	float: right;
	height: 350px;
	width: 350px; 
}

.headers, .links{
	float: left;
}

.headers{
	width: 200px;
	margin: 20px;
}

.links{
	width: 200px;
	margin: 20px;
}


.color-1,
.color-2,
.color-3,
.pattern-1,
.pattern-2,
.pattern-3, 
.imagery-1,
.imagery-2,
.imagery-3 {
	border: 3px solid white;
	float: left;
	margin: 0 30px 30px;
	height: 100px;
	width: 100px;
}

/* Set Your Own Typography */

	@font-face{
		font-family: 'Raleway', sans-serif;
		src: url(https://www.google.com/fonts#UsePlace:use);
		font-family: 'Raleway', sans-serif; font-weight 400;
	}

	body{
		color: white;
		line-height: 22px;
		font-family: 'Raleway', sans-serif; font-weight 300;
	}

	 h1{
		color: purple;
		font-family: 'Raleway', sans-serif; font-weight 700; 
	}

	.header {
		color: purple;
		text-align: right;
		background: gray;
		text-indent: 20px;
		border-top-left-radius: 15px;
		border-top-right-radius: 15px;
		font-family: 'Raleway', sans-serif; font-weight 700; 
		border-top: 5px solid teal;
		border-bottom: 5px solid teal;
	}


	h3{
		color: teal;
		font-family: 'Raleway', sans-serif; font-weight 400;
	}

	h4{
		color: gray;
		font-family: 'Raleway', sans-serif; font-weight 400;
	}

	p{
		color: white;
		font-family: 'Raleway', sans-serif; font-weight 300;
	}

	section{
		color: white;
		font-family: 'Raleway', sans-serif; font-weight 400;
	}

/*links*/

	a:link{
		color: teal;
		font-family: 'Raleway', sans-serif; font-weight 300;
		font-size: 20px;
	}

	a:visited{
		color: gray;
		font-family: 'Raleway', sans-serif; font-weight 300;
		font-size: 20px;
	}

	a:hover, hover{
		color: purple;
		font-family: 'Raleway', sans-serif; font-weight 300;
		font-size: 20px;
	}

/*boxes*/
	.color-1, imagery-1 div{
		background: purple;
	}

	.color-2, imagery-2 div{
		background: teal;
	}

	.color-3, imagery-3 div{
		background: gray;
	}

	.pattern-1, imagery-1 div{
		background-image: url("img/evangelion-colorful-robots-images-free_3758453.jpeg");
	}

/* Set Your Own Margin & Padding */
	h3, h4, p {
		margin: 0;
	}

/* Clearfix - Oo Not Remove */
	.clearfix {clear: both; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0}